.clock {
    width: 300px;
    height: 300px;
    background-color: rgb(147, 147, 147);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
  
  }

  .clock-center {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  }

.clock-hand {
  height: 10px;
  width: 150px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center left;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border: 1px solid grey;
  box-shadow: 0px 0px 1px white;
}

.hours-hand {
  background-color: rgb(31, 182, 31);
  transform: translateY(-50%);
  height: 8px;
  width: 80px;
}

.minutes-hand {
  background-color: orange;
  transform: translateY(-50%);
  height: 5px;
  width: 120px;
}

.seconds-hand {
  background-color: black;
  transform: translateY(-50%);
  height: 3px;
  width: 140px;
}